@model buoi5.Models.OrderPro

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Đơn Hàng</h2>

<h3>Bạn chắc chắn muốn xóa đơn hàng này chứ</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt class="control-label col-md-2">
            <b>Ngày Đặt Hàng</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOrder)
        </dd>

        <dt class="control-label col-md-2">
            <b>Địa chỉ Giao Hàng</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressDeliverry)
        </dd>

        <dt class="control-label col-md-2">
            <b>Khách Hàng</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.NameCus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="background-color:red"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
