@model buoi5.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa sản phẩm</h2>

<h3>Bạn có chắc chắn là xóa sản phẩm này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt class="control-label col-md-2">
            <b>Tên Sản Phẩm</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamePro)
        </dd>

        <dt class="control-label col-md-2">
            <b>Mô Tả</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecriptionPro)
        </dd>

        <dt class="control-label col-md-2">
            <b>Giá</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="control-label col-md-2">
            <b>Hình</b>
        </dt>

        <dd>
            <img src="~/Content/images/@Model.ImagePro" width="200" height="200" />
            @Html.DisplayFor(model => model.ImagePro)
        </dd>

        <dt class="control-label col-md-2">
            <b>Loại Sản Phẩm</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.NameCate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" style="background-color: red" /> 
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
