@model buoi5.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết Khách Hàng</h2>

<div>
    
    <hr/>
    <dl class="dl-horizontal">
        <dt class="control-label col-md-2">
    <b>Khách Hàng</b>
</dt>

        <dd>
            @Html.DisplayFor(model => model.NameCus)
        </dd>

        <dt class="control-label col-md-2">
            <b>Số điện thoại</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCus)
        </dd>

        <dt class="control-label col-md-2">
            <b>Email</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCus)
        </dd>

        <dt class="control-label col-md-2">
            <b>Username</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt class="control-label col-md-2">
            <b>Password</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCus }) |
    @Html.ActionLink("Back to List", "Index")
</p>
